.sec-1{
    text-align: center;
}

.contact-in-div{
    text-align: justify;
    display: inline-block;
    margin: auto;
    width: 95%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}
.mail-a{
    color: white;
}